<div id="content" #content>
  <h1>Test title</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam cumque numquam, id voluptas quidem autem sapiente incidunt nulla magni neque voluptatum veritatis obcaecati quaerat perferendis? Nihil cumque similique sit dolor.
  Vero mollitia fugiat quam molestiae omnis nam consectetur nobis nisi amet, quas provident officiis suscipit incidunt. Quis nisi, esse, sequi quisquam quo, tenetur doloribus voluptatem reiciendis voluptas minima eveniet incidunt?
  Nostrum dicta qui illo. Ad facere laudantium nulla ea repudiandae quae distinctio, nihil dolore illum, voluptas amet sint dolor nam. Possimus aperiam voluptatibus molestias quaerat ipsam laborum magni soluta deleniti?</p>
</div>

<button (click)="downloadPDF()">Export to PDF</button>